<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AfamObioha.kaminari_app"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:extractNativeLibs="true"
        android:allowBackup="true"
        android:debuggable="true"
        android:useEmbeddedDex="true"
        android:label="Kaminari App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:label="Kaminari App"
            android:exported="true">
            <!-- Add Qt metadata -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="kaminari_app" />
            <meta-data
                android:name="android.app.extract_android_style"
                android:value="minimal" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>